.movies-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.movies{
  border: 1px solid black;
}

.card{
  margin: 10px;
  border: 2px solid black;
  width: 300px;
}

.title{
border-bottom: 2px solid black;
}